* {
  font-family: "Poppins", sans-serif;
}

.body {
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.mainIcon {
  font-family: "Poppins","DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #012d58;
}

.nav-element{
    font-family: "Poppins", sans-serif;
}

